<div class="comment-container">
  <div class="comment">
    <p>
      <%= comment.commenter %>:&nbsp&nbsp<%= comment.body %>
    </p>
  </div>

  <% if user_signed_in? && (comment.user == current_user || comment.task.project.user == current_user || current_user.admin?)%>
    <div>
      <%= link_to 'Delete Comment', [comment.task.project, comment.task, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'right-btn' %>
    </div>      
  <% end %>         
</div>
