<div class="comment-container">
  <div class="comment">
    <p>
      <%= comment.commenter %>:&nbsp&nbsp<%= comment.body %>
    </p>
  </div>

  <div>
    <%= link_to 'Delete Comment', [comment.task.project, comment.task, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'right-btn' %>
  </div>               
</div>
