<nav class="nav-bar"> 
      <h1 class="project-heading">Task Management System</h1>
      <%= link_to 'Back to projects page', projects_path, class:'nav-btn' %>
</nav>


<div class='container'>
    <h2>Edit project</h2>
    
    <%= render 'form' %>
</div>

