<nav class="nav-bar"> 
      <h1 class="project-heading">Task Management System</h1>
      <div>
        <%= link_to 'Back to projects page', projects_path, class:'nav-btn' %>
        <%= link_to 'Back to the project page', project_path(@project), class:'nav-btn' %>
        
      </div>
</nav>


<div class='container'>
    <h2>Edit project</h2>
    
    <%= render 'form' %>
</div>

