<nav class="nav-bar"> 
      <h1 class="project-heading">Task Management System</h1>
      <div>
        <%= link_to 'Back to projects page', projects_path , class:'nav-btn'%>
        
      </div>
</nav>

<div class='container'>
    <h2>Create New project</h2>

    <%= render 'form' %>
</div>


